.card {
  width: 200px;
  float: left;
  margin-right: 10px;
}

.app {
  margin-left: 10px;
}

.login {
  background:  url("cannabis_swaying.gif") center center fixed;
  height: 100%;
}

.login {
  height: 400px;
  padding-top: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
